.container {
    width: 1117px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}
.circle
{
    width: 20px;
    height: 20px;
    background-color: #9c69e2;
    border-radius: 20px;
    margin-right: 5px;
    align-self: flex-end;
}

.menu a
{
    text-decoration: none;
    color: #4B5D68;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin: 0 20px;
}


.container.header
{
    display: flex;
    align-items: center;
}

.menu
{
    margin-left: 100px;
}

.logo
{
    display: flex;
}

.ellipse
{
    width: 20px;
    height: 35px;
    background: #f063b8;
    border-radius: 20px;
}


button.btn_demo
{
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px
        rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

button a
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    letter-spacing: 0.005em;
}

.line
{
    width: 20px;
    height: 0px;
    border: 1px solid #9c69e2;
    box-sizing: border-box;
    margin-left: 20px;
}

.arrowhead
{
    
    border: solid #9c69e2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -7px;
}

.container.first_section
{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.content
{
    width: 1117px;
    height: 95vh;
}

.container.first_section h1
{
    width: 645px;
    font-family: Pontano Sans;
    font-style: normal;
    font-weight:bolder;
    font-size: 80px;
    line-height: 110%;
    color: #212353; 
    margin-bottom: 90px;
    
}

.container.first_section h2
{
    width: 380px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68; 
    margin-bottom: 40px;
}

button.btn_more
{
    width: 170px;
    height: 60px;
    background: #9c69e2;
    border-radius: 50px;
    border: none;
    margin-top: 35px;
}

.img_1
{
    background-image: url(img/image1.svg);
    background-size: cover;
    width: 885px;
    height: 468px;
    float: right;
    margin-top: -250px;
    
}

.rectangle
{
    width: 100%;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.container.second_section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.container.second_section h1
{
    display: flex;
    width: 475px;
    height: 100px;
    font-family: Pontano Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    justify-self:flex-end;
    flex-basis: 30%;
}

.container.second_section h2
{
    
    display: flex;
    width: 474px;
    height: 170px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    align-self: flex-end;
    justify-self: flex-start;
   
}

.img_2
{
    background-image: url(img/image2.svg);
    
    width: 500px;
    height: auto;
    display: flex;
}

.content_1
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container.third_section
{   margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

#features
{
    font-family: Pontano Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    display: flex;
    text-align: center;
    align-items: center;
}

.container.third_section h2
{
    width: 584px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    text-align: center;
}

.box-container
{
    grid-template-columns: 442px 442px;
    grid-template-rows: 358px 358px;
    column-gap: 20px;
    row-gap: 20px;
    
    background: #68C9BA;
}

.boxes1
{
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    margin-top: 100px;
}

.box1
{   
    width: 400px;
    height: 358px;
    /* background: rgba(104, 201, 186, 0.2); */
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(img/Rectangle\ 39.svg);
    
}

.content_2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box2
{   
    width: 400px;
    height: 358px;
    background-image: url(img/Rectangle\ 40.svg);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

h1.multi_h1
{
    font-family: Pontano Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    

    display: flex;
    align-items: center;
    color: #212353;
}

h2.multi_h2
{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    height: 196px;

    color: #4B5D68;
}

h3.multi_h3
{
    font-family: Nunito;
    font-style: normal;
    font-weight: bolder;
    font-size: 17px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #212353;
}

.boxes2
{
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    margin-top: 50px;
}

.box3
{
    width: 400px;
    height: 358px;
    background-image: url(img/Rectangle\ 41.svg);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.box4
{
    width: 400px;
    height: 358px;
    background-image: url(img/Rectangle\ 42.svg);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.container.fourth_section
{
    margin-top: 200px;
}

.rectangle_2
{
    width: 1118px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}

.rectangle_2 .title
{
    font-family: Pontano Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    /* align-items: center; */
    color: #FFFFFF;
    margin-left: 90px!important;
    
}

.containers
{
    display: flex;

}

.container-1
{
    width: 645px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px
    rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    display: flex;
    margin-left: 90px;
    margin-right: 50px;
}

.container-2
{
    position:unset;
    width: 400px;
    height: 330px;
    background: linear-gradient(100deg, #FFFFFF
    9.75%, rgba(255,255,255,0) 100%);
    border: 1px solid #9c69e2;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
}

.content_3
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
}

h1.just_like_below_h1
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #212353;
}

h4.just_like_below_h4
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #9C69E2;
}

h2.just_like_below_h2
{
    width: 385px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

h2.just_like_h2
{
    width: 180px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.ellipses
{
    margin-left: 90px;
    display: flex;
    
}

.testimonials_container
{
    display: flex;
    justify-content: space-between;
}

.ellipses .li_1
{
    color: #f063b8; 
    width: 15px; 
    height: 15px;
}

.ellipses .li_others
{
    width: 5px; 
    height: 5px; 
    color: #fff
}

.slider
{
    margin-right: 90px;
}

li
{
    margin-left: 10px;
}

.line-1
{
    width: 20px;
    height: 0px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-left: 20px;
}

.arrowhead-1
{
    
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -7px;
}

.rectangle_3
{
    margin-top: 150px;
    width: 100%;
    height: 2px;
    background: #9C69E2;
    opacity: 0.2;
}

.container.fifth_section
{
    margin-top: 150px;
}

.container.fifth_section.container
{
    display: block;
}

.container1
{
    display: flex;
}

.container1 .content-footer h1
{
    font-family: Pontano Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    margin-top: 0;

    display: flex;
    align-items: center;

    color: #212353;
}

.container1 .content-footer h2
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    white-space: nowrap;
    color: #4B5D68;
}

button.btn_more
{
    margin: 0 0;
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    margin-right: 40px;
    
}

button.btn_more a
{
    color: white;
}

.buttons
{
    display: flex;
    margin-left: 400px;

}

.container2
{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.logos
{
    display: flex;
    align-content: center;
    align-items: center;
}

.logos h2
{
    margin: 0 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;

    color: #212353;
}

.container2 h3 
{
    width: 250px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
}

.container2 h4
{
    width: 250px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    
    letter-spacing: 0.01em;
    color: #212353;
}

.adress
{
    margin-top: 50px;
}

.column2 .about
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;

    color: #212353;
}

.column2 .others
{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;

    color: #212353;
}

.column3 .about
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;

    color: #212353;
}

.column3 .others
{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;

    color: #212353;
}

.column4 .about
{
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;

    color: #212353;
}

.container3
{
    width: 1117px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.container3 ul
{
    width: 350px;
    display: flex;
    justify-content: flex-start;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    justify-self: flex-start;
    margin-left: -40px;

color: #212353;
}

.container3
{
    display: flex;
    justify-content: space-between;
}

.imgf
{
    margin-left: 4px;
    margin-right: 5px;
}

.imgt
{
    margin-right: 5px;
}